doctype html
html
  head
    title Mapa Prueba
    meta(charset="UTF-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB6f88fRxA9xODuXZ78cPpR6o8nU8dE_lk&signed_in=true&libraries=places&callback=initMap')
    style(type='text/css').
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #form {

      }
  body
    #div
      form#form(action="/dataGoogle" method="post")
        label Nombre:
        input(type="text" placeholder="ingrese nombre")
        br
        input#oculto(type="hidden" name="autocompletado")
        label Ingrese Direccion:
        input#input(type="text"  placeholder="Ingrese direccion")
        br
        input(type="submit" value="Guardar")
      //button#button Marcar    
    #map
  script(type='text/javascript').
    var mapGoogle = document.getElementById('map');
    var centro = {
      lat : -12.046775,
      lng : -77.042820
    };
    function initMap() {
      map = new google.maps.Map(mapGoogle, {
      center: centro,
      zoom: 12
      });
      var div = document.getElementById('div');
      var input = document.getElementById('input');
      map.controls[google.maps.ControlPosition.LEFT_CENTER].push(div);
      var autocomplete = new google.maps.places.Autocomplete(input);
      autoCompletado(autocomplete,map)
      //button.addEventListener('click',autoCompletado(autocomplete,map))
    };

    function autoCompletado(autocomplete,map){
      console.log("autocomplete: ", autocomplete);
      autocomplete.bindTo('bounds',map);
      autocomplete.addListener('place_changed',function(){
        var place = autocomplete.getPlace();
        console.log("place: ",place.geometry.location);
        if(!place.geometry){
          window.alert("Autocomplete's returned place contains no geometry");
          return;
        }
        var mandarData = JSON.stringify(place)
        $('#oculto').val(mandarData);
      });
    };