doctype html
html
  head
    title Maquetado
    meta(charset="UTF-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src='../js/semantic.min.js')
    link(rel='stylesheet' type='text/css' href='../css/semantic.min.css')
    style.
      html,body{
        height : 100%;
      }
      #login{
        height : 10%;
        margin : 0;
      }
      #menu{
        height : 7%;
        margin : 0;
      }
      #map{
        height : 83%;
      }
      .item#first{
        width : 40%;
      }
      img#cligo{
        height : 80%;
      }
      img{
        cursor : pointer;
      }
  body

    .ui.stackable.menu#login
      .ui.fluid.container
        a
          img#cligo(src="../css/cligo.png")
        .ui.right.labeled.icon.menu
          a.item
              i.user.icon
              | Usuario 
          //.item
          a.item
            i.add.circle.icon
            | Nueva ruta

    .ui.stackable.menu#menu
      .ui.fluid.container
        .item#first
          form.ui.fluid.left.labeled.icon.input#form(action="/rapidoPost" method="post")
            .ui.black.label Direccion:
            input#input(placeholder="Search ..." type="text")
            i.search.icon
            input#oculto(type="hidden" name="autocompletado")
            input#color(type="hidden" name="tipo")
        .item
          img#1(src="../css/locationred.png")
        .item
          img#2(src="../css/locationgreen.png")
        .item
          img#3(src="../css/transport.png")
        .right.menu
          .item
            .ui.button Resumen 
          .item
            .ui.button.blue Ruta optima
    #map
  script.
    $("#1")
      .popup({
        hoverable: true,
        title : 'Direccion de recojo'
      });
    $("#2")
      .popup({
        hoverable: true,
        title : 'Direccion de destino'
      });
    $("#3")
      .popup({
        hoverable: true,
        title : 'Direccion de motorizado'
      });
    $("#1").on('click',function(){
      $("#color").val("origen")
      $("#form").submit();
    });
    $("#2").on('click',function(){
      $("#color").val("destino")
      $("#form").submit();
    });
    $("#3").on('click',function(){
      $("#color").val("vehiculo")
      $("#form").submit();
    });
  script(type='text/javascript').
    var mapGoogle = document.getElementById('map');
    var centro = {
      lat : -12.046775,
      lng : -77.042820
    };
    var map;
    var string = !{string};
    var contador = string.length;
    var infowindow;
    function initMap() {
      map = new google.maps.Map(mapGoogle, {
      center: centro,
      zoom: 12,
      mapTypeControl : false,
        streetViewControl : false,
        zoomControlOptions : {
          position : google.maps.ControlPosition.RIGHT_TOP
        }
      });
      var input = document.getElementById('input');
      var autocomplete = new google.maps.places.Autocomplete(input);
      autoCompletado(autocomplete,map);
      infowindow = new google.maps.InfoWindow();
      for(var i=0;i<contador;i++){
        addMarker(string[i]);
      }
    };
    function autoCompletado(autocomplete,map){
      autocomplete.bindTo('bounds',map);
      autocomplete.addListener('place_changed',function(){
        var place = autocomplete.getPlace();
        console.log("place: ",place.geometry.location);
        if(!place.geometry){
          window.alert("Autocomplete's returned place contains no geometry");
          return;
        }
        place = JSON.stringify(place);
        $('#oculto').val(place);
      });
    }
    function addMarker(objeto){
      console.log("objeto: ",objeto);
      if(objeto.tipo === 'origen'){
        icon ='../css/markerGreen.png';
        console.log("1");
      }else if(objeto.tipo === 'destino'){
        icon = '../css/markerRed.png';
        console.log("2");
      }else {
        icon = '../css/vehicleBlue.png';
        console.log("3");
      };

      var marker = new google.maps.Marker({
        map : map,
        position : objeto.coordenada,
        icon: icon
      });
      marker.addListener('click',function(){
        infowindow.setContent(objeto.direccion);
        infowindow.open(map,marker);
      });
    }
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB6f88fRxA9xODuXZ78cPpR6o8nU8dE_lk&signed_in=true&libraries=places&callback=initMap')
